<div class="container overflow-auto p-5">
<div class="card float-left" style="width: 45%">
  <div class="card-header">
    <h5>Your conversations
  </div>
  <div class="card-body">


  <% if @over_ten %>
    <%= link_to 'Previous messages', '?m=all', class: "btn btn-success btn-sm w-50 ml-4 mt-2 text-white" %>
    <hr>
  <% end %>
  <div class="ui segment p-4">
    <% @messages.each do |message| %>
      <% if message.body.present? %>
        <div class="item">
          <% if message.user == current_user %>
            <div class="content text-right">
              <div class="header">
                <strong><%= message.user.name %></strong>
                <%= message.message_time %>
              </div>
              <div class="list">
                <div class="item">
                  <i class="right triangle icon"></i>
                  <%= message.body %> /
                  <%= message.read ? 'Already read' : 'Unread' %>
                </div>
              </div>
            </div>
          <% else %>
          <div class="content text-left">
            <div class="header">
              <strong><%= message.user.name %></strong>
              <%= message.message_time %>
            </div>
            <div class="list">
              <div class="item">
                <i class="right triangle icon"></i>
                <%= message.body %>
              </div>
            </div>
          </div>
          <% end %>
        </div><hr>
      <% end %>
    <% end %>
  </div>
    </div>
</div>

<div class="card float-right p-4" style="width:45%">
  <%= form_with(model: [@conversation, @message]) do |f| %>
    <div class="field">
      <%= f.label :body, "Compose message" %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div>
      <%= f.submit "send a message", class: "btn btn-light border rounded shadow" %>
    </div>
  <% end %>
</div>

</div>
