<div class="container p-5">
  <h2>Create an acount for free!</h2>
  <div class="p-5 w-75 mx-auto border rounded-lg shadow bg-light">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'register') do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :profile_image %>
        <%= f.file_field :profile_image %>
      </div>

      <div class="form-row form-group">
        <div class="col">
          <%= f.text_field :name, autofocus: true, autocomplete: "user name" ,placeholder:"Full Name",class: "form-control"%>
        </div>
        <div class="col">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email",class: "form-control" %>
        </div>
      </div>

      <div class="form-inline">
        <div class="field mr-5">
          <%= f.label :gender %>
          <%= f.select :gender, [ 'Male', 'Female']%>
        </div>
        <div class="field">
          <%= f.label :user_type %>
          <%= f.select :user_type, [ 'Teacher', 'Learner'], onchange: "yesnoCheck(this);", value: 'Teacher' %>
         
        </div>
      </div>

      <div class="form-row form-group">
        <div class="col">
          <%= f.number_field :age, autofocus: true, autocomplete: "user age",placeholder:"age" ,class: "form-control"%>
        </div>
        <div class="col">
          <%= f.text_field :hobbies, autofocus: true, autocomplete: "user hobbies" ,placeholder:"hobby",class: "form-control"%>
        </div>
      </div>

        <div class="form-row form-group">
          <div class="col">
            <%= f.password_field :password, autocomplete: "new-password",placeholder:"password (Minimum 6 characters)",class: "form-control" %>
          </div>
          <div class="col">
            <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"password_confirmation",class: "form-control" %>
          </div>
        </div>
      <div class="border rounded p-2 mt-4">
        <h5 class="text-center">Only Teacher's section</h5>

      <div class="field">
        <%= f.label :skills %>
        <%= f.text_field :skills, autofocus: true,placeholder:"Eg:(programming)",class: "form-control"%>
      </div>

      <div class="field">
        <%= f.label :qualification %>
        <%= f.text_field :qualification, autofocus: true, placeholder:"Eg: (front end programming with html/css and javascript)",class: "form-control"%>
      </div>


      <div class="field">
        <%= f.label :self_introduction, "Introduce your self" %>
        <%= f.text_area :self_introduction, placeholder:"Short description about you!",class: "form-control", rows: "4"%>
      </div>
      </div>

      <div class="form-group text-center my-2">
        <%= f.submit "Sign up",class:"btn btn-info w-25 rounded-pill m-auto"%>
      </div>
    <% end %>
    Already have account? <%= link_to "Log in", new_session_path(resource_name), class:"text-info" %> </br>
    <div class="text-center">
      <%- if devise_mapping.omniauthable? %>
        <%= link_to "Sign in with google", user_google_omniauth_authorize_path, class: "btn bg-google mb-2 w-75 text-white rounded-pill" %><br />
        <%= link_to "Sign in with facebook", user_facebook_omniauth_authorize_path, class: "btn bg-facebook mb-2 w-75 text-white rounded-pill" %><br />
        <%= link_to "Sign in with github", user_github_omniauth_authorize_path, class: "btn bg-github mb-2 w-75 text-white rounded-pill" %><br />
      <% end %>
    </div>
  </div>
</div>

