<%= form_for ([@course, @course.comments.build]) do |f| %>
  
  <%= f.text_area :content, class:"single-input form-control mb-2", placeholder:"enter comment"%>

<br>


  <fieldset class="rating">

  <legend>Please rate:</legend>
  <%=f.radio_button :rate, 9, :id => "star5" %><label for="star5" title="Excellent!">5 Stars</label>
  
  <%=f.radio_button :rate, 8, :id => "star4" %> <label for="star5" title="Good!">4 Stars</label>
  <%=f.radio_button :rate, 7, :id => "star5" %><label for="star5" title="Excellent!">5 Stars</label>
  
  <%=f.radio_button :rate, 6, :id => "star4" %> <label for="star5" title="Good!">4 Stars</label>
  
  <%=f.radio_button :rate, 5, :id => "star5" %><label for="star5" title="Excellent!">5 Stars</label>
  
  <%=f.radio_button :rate, 4, :id => "star4" %> <label for="star5" title="Good!">4 Stars</label>
  
  <%=f.radio_button :rate, 3, :id => "star3" %> <label for="star3" title="Average!">5 Stars</label>
  
  <%=f.radio_button :rate, 2, :id => "star2" %> <label for="star5" title="Poor!">2 Stars</label>
  
  <%=f.radio_button :rate, 1, :id => "star1" %> <label for="star1" title="Very Poor!">1 Stars</label>
  
  </fieldset>
  <br>
  <br> 
  <br>
  <br>
  <br>
  <br>
  
  <%= f.submit "send comment", class: "btn btn-light btn-sm shadow-sm border"%>
    <%end%>
