<div class="show">
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="post-text">
 
    <p><strong>Content</strong>：<%= @course.content %></p>
  </div>
  <%= @comment.rate %></p>

  <p>List of Comments(Contents below are important)</p>

  <!-- Get an HTML id of this comments_area and update only the part of that div -->
  <div id="comments_area">
    <!-- Render to display the posted comment list on the posts detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, blog: @post } %>
  </div>

   <!-- Render to display the comment field on the posts detail page -->
   <%= render partial: 'comments/form', locals: { commenting: @comment, post: @course } %>



   <%= link_to 'Edit', edit_post_path(@course)  %> |
   <%= link_to 'Return', courses_path  %>
</div>
</div>

