<p><strong>Email:
  <%= @purchase.email %></strong>
</p>
<p><strong>Amount:
  <%= @purchase.ammount %></strong>
</p>
<p><strong>description:
  <%= @purchase.description %></strong>
</p>
<p><strong>Currency:
  <%= @purchase.currency %></strong>
</p>
<p><strong>card:
  <%= @purchase.card %></strong>
</p>
<p><strong>Customer_ID:
  <%= @purchase.user_id %></strong>
</p>
<p><strong>course_id:
  <%= @purchase.course_id %></strong>
</p>
<p><strong>created_at":
  <%= @purchase.created_at %></strong>
</p>
<p><strong>updated_at":
  <%= @purchase.updated_at %></strong>
</p>