<div class="head">
  <!-- header -->
  <div class="ml-auto text-right p-5 w-50 text-pink">
    <h1>Please consult and ask</h1> <br>
    <h3>First free! provides an opportunity <br> to be assured</h3>
    <% if user_signed_in? %>
      <%= link_to 'Register course', new_course_path, class: "btn btn-info px-4 text-white btn-lg" %>
    <% else %>
      <%= link_to 'Get started', new_user_registration_path, class: "btn btn-info px-4 text-white btn-lg" %>
    <% end %>
  </div>
</div>
<!-- end of header division -->

<!-- middle section -->
<div class="my-4 text-center mx-5">
  <h4>You can choose a best tutor to work with!!</h4>
    <div class="row row-cols-1 row-cols-md-4">
    <% @teachers.each do |teacher| %>
      <div class="col mb-4">
        <div class="card h-100 shadow-sm">
          <% if teacher.profile_image.url %>
            <%= image_tag teacher.profile_image.url, class: "card-img-top" %>
          <% else %>
            <%= image_tag "user_icon.png", class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= teacher.name %></h5>
            <span class="card-text">
              <%= teacher.self_introduction %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
