
<div class="h-75 mx-auto my-4 w-50 border rounded text-center shadow bg-light p-4">
<h6>Login with your account!</h6>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">

    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:"Email", class: "form-control w-75 m-auto" %>
  </div>

  <div class="field">

    <%= f.password_field :password, autocomplete: "current-password" ,placeholder:"Password", class: "form-control w-75 m-auto" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field text-left w-75 m-auto">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actionss">
    <%= f.submit "Log in", class: "btn btn-info shadow-sm m-auto w-50"%>
  </div>
<% end %>
<div class="row w-75 m-auto">
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "mr-auto text-info" %>
  <% end %>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    If you don't have account yet, <%= link_to "Sign up", new_registration_path(resource_name), class: "text-info" %>
  <% end %>

</div>
<div class="my-4">
<h6>OR</h6>
<%- if devise_mapping.omniauthable? %>
    <%= link_to "Sign in with google", user_google_omniauth_authorize_path, class: "btn bg-google mb-2 w-75 text-white rounded-pill" %><br />
    <%= link_to "Sign in with facebook", user_facebook_omniauth_authorize_path, class: "btn bg-facebook mb-2 w-75 text-white rounded-pill" %><br />
    <%= link_to "Sign in with github", user_github_omniauth_authorize_path, class: "btn bg-github mb-2 w-75 text-white rounded-pill" %><br />
    <%= link_to "Sign in with twitter", user_twitter_omniauth_authorize_path, class: "btn bg-github mb-2 w-75 text-white rounded-pill" %><br />
<% end %>

</div>

</div>
