<div class="w-75 m-4 mx-auto border rounded bg-light p4">
  <%= form_with(model: course, local: true) do |form| %>
    <% if course.errors.any? %>
      <div id="error_explanation alert alert-danger" role="alert">
        <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
          <% course.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="row">
    <div class="col py-5">
      <div class="field">
        <%= form.text_field :info_title ,class: "form-control w-75 m-auto", placeholder: "Course title"%>
      </div>

      <div class="field">
        <%= form.text_area :info_details ,class: "form-control w-75 m-auto", placeholder: "Course detail", rows:"4"%>
      </div>
    </div>
    <div class="col py-5">
      <div class="field">
        <%= form.text_field :free_info_topics ,class: "form-control w-75 m-auto", placeholder: "Free topic"%>
      </div>

      <div class="field">
        <%= form.text_area :free_info_details,class: "form-control w-75 m-auto", placeholder: "Free topic details", rows:"4" %>
      </div>
      <div class="field">
        <%= form.number_field :price,class: "form-control w-75 m-auto", placeholder: "Price" %>
      </div>

      
  <fieldset class="rating">

  <legend>Please rate:</legend>
  <%=form.radio_button :rates, 9, :id => "star5" %><label for="star5" title="Excellent!">5 Stars</label>
  
  <%=form.radio_button :rates, 8, :id => "star4" %> <label for="star5" title="Good!">4 Stars</label>
  
  <%=form.radio_button :rates, 7, :id => "star3" %> <label for="star3" title="Average!">5 Stars</label>
  
  <%=form.radio_button :rates, 6, :id => "star2" %> <label for="star5" title="Poor!">2 Stars</label>
  
  <%=form.radio_button :rates, 5, :id => "star5" %><label for="star5" title="Excellent!">5 Stars</label>
  
  <%=form.radio_button :rates, 4, :id => "star4" %> <label for="star5" title="Good!">4 Stars</label>
  
  <%=form.radio_button :rates, 3, :id => "star3" %> <label for="star3" title="Average!">5 Stars</label>
  
  <%=form.radio_button :rates, 2, :id => "star2" %> <label for="star5" title="Poor!">2 Stars</label>
  
  <%=form.radio_button :rates, 1, :id => "star1" %> <label for="star1" title="Very Poor!">1 Stars</label>
  
  </fieldset>
      <div class="field ">
        <%= form.submit class: "form-control w-75 shadow-sm bg-facebook text-white m-auto"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
