<div class="container">


<div class="my-4 text-center">
  <h4>Learn A programming skill of your choice!!</h4>
</div>
<div class="mx-auto" style="width: 70%">
  <h4><%= link_to 'New Course', new_course_path, class: "text-info" %></h4>
</div>
    <% @courses.each do |course| %>
    <div class="card mx-auto bg-light shadow-sm m-2" style="width: 70%;">
      <div class="card-body">
        <div class="card-title">
          <h5 class="w-50 float-left"><%= course.info_title %></h5>
          <h4 class="w-50 float-right text-right text-warning">Buy: <%= course.price %>$</h4>
        </div>
        <p class="card-text"><%= course.info_details %></p>
        <%= link_to "Follow course", course_path(course), class: "btn btn-info text-white btn-sm " %>
        <% if course.user_id == current_user.id %>
          <%= link_to 'Edit', edit_course_path(course), class: "text-success" %>
          <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %>
        <% end %>
      </div>
    </div>

    <% end %>


</div>
